.settings {
    font-family: Roboto;
}

.header {
    margin: 60px 0px 20px 0;
}

.header h1 {
    font-weight: 900;
    font-size: 1.6em;
    text-align: center;
}

.grid-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 250px);
    gap: 30px 10px;
}

.grid-icon {
    padding: 25px;
    line-height: 20px;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.grid-icon p {
    text-align: center;
    margin-top: 20px;
}

.slide {
    grid-column: 1/2;
    grid-row: 1/2;
}

.ebook {
    grid-column: 2/3;
    grid-row: 1/2;
}

.banner {
    grid-column: 1/2;
    grid-row: 2/3;
}

.id-visual {
    grid-column: 2/3;
    grid-row: 2/3;
}

.lpage {
    grid-column: 1/2;
    grid-row: 3/4;
}

.mkt {
    grid-column: 2/3;
    grid-row: 3/4;
}

.video {
    grid-column: 1/2;
    grid-row: 4/5;
}

.fotos {
    grid-column: 2/3;
    grid-row: 4/5;
}

.slide:hover,
.ebook:hover,
.banner:hover,
.id-visual:hover,
.lpage:hover,
.mkt:hover,
.video:hover,
.fotos:hover {
    background-color: #359693;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-hover {
    font-size: 13px;
    line-height: 16px;
    padding: 35px 9px;
    color: #fff;
    letter-spacing: 1px;
}

.info-hover p {
    padding: 10px 0px;
}

@media screen and (min-width:768px) /*and (max-width:1024px)*/ {
    .header h1 {
        font-size: 2.6em;
    }

    .slide,
    .ebook,
    .banner,
    .id-visual,
    .lpage,
    .mkt,
    .video,
    .fotos {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*
    .info-hover {
        font-size: 20px;
        line-height: 22px;
    }

    .grid-icon p {
        font-size: 25px;
        line-height: 24px;
    }*/

}

@media screen and (min-width:1024px) {
    .settings {
        margin: 0 auto;
        max-width: 1200px;
    }

    .section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-container {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(4,180px);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px 10px;
    }

    .slide {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .ebook {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .banner {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .id-visual {
        grid-column: 4/5;
        grid-row: 1/2;
    }

    .lpage {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .mkt {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .video {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .fotos {
        grid-column: 4/5;
        grid-row: 2/3;
    }

}
